-- CreateTable
CREATE TABLE `asset` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `assetTag` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `category` VARCHAR(191) NOT NULL,
    `serialNumber` VARCHAR(191) NULL,
    `purchaseDate` DATETIME(3) NULL,
    `status` ENUM('ACTIVE', 'IN_USE', 'MAINTENANCE', 'RETIRED') NOT NULL DEFAULT 'ACTIVE',
    `notes` VARCHAR(191) NULL,
    `assignedVehicleId` INTEGER NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `asset_assetTag_key`(`assetTag`),
    UNIQUE INDEX `asset_serialNumber_key`(`serialNumber`),
    INDEX `asset_assignedVehicleId_idx`(`assignedVehicleId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `driver` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `employeeNumber` VARCHAR(191) NOT NULL,
    `firstName` VARCHAR(191) NOT NULL,
    `lastName` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NULL,
    `phone` VARCHAR(191) NULL,
    `licenseNumber` VARCHAR(191) NOT NULL,
    `licenseExpiry` DATETIME(3) NULL,
    `status` ENUM('ACTIVE', 'INACTIVE', 'SUSPENDED') NOT NULL DEFAULT 'ACTIVE',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `driver_employeeNumber_key`(`employeeNumber`),
    UNIQUE INDEX `driver_email_key`(`email`),
    UNIQUE INDEX `driver_licenseNumber_key`(`licenseNumber`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `maintenance` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `serviceType` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NULL,
    `serviceDate` DATETIME(3) NOT NULL,
    `cost` DECIMAL(10, 2) NOT NULL,
    `vehicleId` INTEGER NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `maintenance_vehicleId_idx`(`vehicleId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `trip` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `origin` VARCHAR(191) NOT NULL,
    `destination` VARCHAR(191) NOT NULL,
    `departureTime` DATETIME(3) NOT NULL,
    `arrivalTime` DATETIME(3) NULL,
    `distance` DOUBLE NULL,
    `status` ENUM('SCHEDULED', 'IN_PROGRESS', 'PAUSED', 'COMPLETED', 'CANCELLED') NOT NULL DEFAULT 'SCHEDULED',
    `vehicleId` INTEGER NOT NULL,
    `driverId` INTEGER NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `startOdometer` DOUBLE NULL,
    `endOdometer` DOUBLE NULL,
    `actualDistance` DOUBLE NULL,

    INDEX `trip_vehicleId_idx`(`vehicleId`),
    INDEX `trip_driverId_idx`(`driverId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `tripDriver` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `tripId` INTEGER NOT NULL,
    `driverId` INTEGER NOT NULL,
    `startTime` DATETIME(3) NOT NULL,
    `endTime` DATETIME(3) NULL,
    `planned` BOOLEAN NOT NULL DEFAULT false,
    `startLocation` VARCHAR(255) NULL,
    `endLocation` VARCHAR(255) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `tripDriver_tripId_startTime_idx`(`tripId`, `startTime`),
    INDEX `tripDriver_driverId_startTime_idx`(`driverId`, `startTime`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `tripEvent` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `tripId` INTEGER NOT NULL,
    `driverId` INTEGER NULL,
    `eventType` VARCHAR(50) NOT NULL,
    `eventTime` DATETIME(3) NOT NULL,
    `location` VARCHAR(255) NULL,
    `stopName` VARCHAR(255) NULL,
    `notes` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `tripEvent_tripId_eventTime_idx`(`tripId`, `eventTime`),
    INDEX `tripEvent_driverId_eventTime_idx`(`driverId`, `eventTime`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `assignment` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `driverId` INTEGER NOT NULL,
    `vehicleId` INTEGER NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'ACTIVE',
    `notes` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `assignedAt` DATETIME(3) NOT NULL,
    `unassignedAt` DATETIME(3) NULL,

    INDEX `assignment_driverId_idx`(`driverId`),
    INDEX `assignment_vehicleId_idx`(`vehicleId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shift` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `driverId` INTEGER NOT NULL,
    `vehicleId` INTEGER NOT NULL,
    `shiftDate` DATETIME(3) NOT NULL,
    `startTime` DATETIME(3) NOT NULL,
    `endTime` DATETIME(3) NOT NULL,
    `totalHours` DOUBLE NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'SCHEDULED',
    `notes` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `shift_driverId_idx`(`driverId`),
    INDEX `shift_vehicleId_idx`(`vehicleId`),
    INDEX `shift_shiftDate_idx`(`shiftDate`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `document` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `documentName` VARCHAR(191) NOT NULL,
    `documentType` VARCHAR(191) NOT NULL,
    `issueDate` DATETIME(3) NULL,
    `expiryDate` DATETIME(3) NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'VALID',
    `filePath` VARCHAR(191) NULL,
    `notes` VARCHAR(191) NULL,
    `vehicleId` INTEGER NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `document_vehicleId_idx`(`vehicleId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `inspection` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `vehicleId` INTEGER NOT NULL,
    `driverId` INTEGER NULL,
    `inspectionDate` DATETIME(3) NOT NULL,
    `odometer` DOUBLE NOT NULL,
    `brakes` BOOLEAN NOT NULL DEFAULT true,
    `tyres` BOOLEAN NOT NULL DEFAULT true,
    `lights` BOOLEAN NOT NULL DEFAULT true,
    `engine` BOOLEAN NOT NULL DEFAULT true,
    `battery` BOOLEAN NOT NULL DEFAULT true,
    `oilLevel` BOOLEAN NOT NULL DEFAULT true,
    `coolant` BOOLEAN NOT NULL DEFAULT true,
    `mirrors` BOOLEAN NOT NULL DEFAULT true,
    `windshield` BOOLEAN NOT NULL DEFAULT true,
    `fireExtinguisher` BOOLEAN NOT NULL DEFAULT true,
    `firstAidKit` BOOLEAN NOT NULL DEFAULT true,
    `overallStatus` VARCHAR(191) NOT NULL,
    `inspectorName` VARCHAR(191) NOT NULL,
    `remarks` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `inspection_vehicleId_idx`(`vehicleId`),
    INDEX `inspection_driverId_idx`(`driverId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `password` VARCHAR(191) NOT NULL,
    `role` ENUM('ADMIN', 'DISPATCHER', 'DRIVER', 'FLEET_MANAGER', 'OPERATIONS_MANAGER', 'MAINTENANCE_COMPLIANCE', 'TECHNICIAN_MECHANIC') NOT NULL DEFAULT 'FLEET_MANAGER',
    `active` BOOLEAN NOT NULL DEFAULT true,
    `workshop` VARCHAR(191) NULL,
    `driverId` INTEGER NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `user_email_key`(`email`),
    UNIQUE INDEX `user_driverId_key`(`driverId`),
    INDEX `user_role_idx`(`role`),
    INDEX `user_active_idx`(`active`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `vehicle` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `registration` VARCHAR(191) NOT NULL,
    `make` VARCHAR(191) NOT NULL,
    `model` VARCHAR(191) NOT NULL,
    `year` INTEGER NOT NULL,
    `status` ENUM('ACTIVE', 'MAINTENANCE', 'OUT_OF_SERVICE') NOT NULL DEFAULT 'ACTIVE',
    `vin` VARCHAR(191) NULL,
    `colour` VARCHAR(191) NULL,
    `fuelType` VARCHAR(191) NULL,
    `bodyType` VARCHAR(191) NULL,
    `carryingCapacity` INTEGER NULL,
    `currentMileage` DOUBLE NOT NULL DEFAULT 0,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `vehicle_registration_key`(`registration`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `fuelrecord` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `vehicleId` INTEGER NOT NULL,
    `fuelDate` DATETIME(3) NOT NULL,
    `litres` DOUBLE NOT NULL,
    `cost` DECIMAL(10, 2) NOT NULL,
    `odometer` DOUBLE NOT NULL,
    `station` VARCHAR(191) NOT NULL,
    `receiptNo` VARCHAR(191) NULL,
    `notes` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `fuelRecord_vehicleId_idx`(`vehicleId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `incident` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `vehicleId` INTEGER NOT NULL,
    `driverId` INTEGER NULL,
    `incidentDate` DATETIME(3) NOT NULL,
    `incidentType` VARCHAR(191) NOT NULL,
    `severity` VARCHAR(191) NOT NULL,
    `location` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NOT NULL,
    `injuries` INTEGER NOT NULL DEFAULT 0,
    `estimatedCost` DECIMAL(10, 2) NULL,
    `policeReported` BOOLEAN NOT NULL DEFAULT false,
    `reportedBy` VARCHAR(191) NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'OPEN',
    `resolutionNotes` TEXT NULL,
    `resolvedAt` DATETIME(3) NULL,
    `resolvedBy` VARCHAR(150) NULL,
    `attachmentName` VARCHAR(255) NULL,
    `attachmentPath` VARCHAR(1000) NULL,
    `attachmentMimeType` VARCHAR(100) NULL,
    `attachmentSize` INTEGER NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `incident_vehicleId_idx`(`vehicleId`),
    INDEX `incident_driverId_idx`(`driverId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `maintenance_schedule` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `scheduleNumber` VARCHAR(50) NOT NULL,
    `vehicleId` INTEGER NOT NULL,
    `assignedDriverId` INTEGER NULL,
    `serviceType` VARCHAR(100) NOT NULL,
    `maintenanceCategory` VARCHAR(100) NOT NULL,
    `dueDate` DATETIME(3) NULL,
    `dueMileage` DOUBLE NULL,
    `scheduledDate` DATETIME(3) NOT NULL,
    `estimatedDurationHours` DOUBLE NULL,
    `priority` VARCHAR(191) NOT NULL DEFAULT 'MEDIUM',
    `reason` VARCHAR(500) NOT NULL,
    `description` VARCHAR(5000) NOT NULL,
    `assignedTechnician` VARCHAR(150) NULL,
    `assignedWorkshop` VARCHAR(150) NULL,
    `serviceLocation` VARCHAR(200) NULL,
    `requiredParts` VARCHAR(5000) NULL,
    `estimatedLabourHours` DOUBLE NULL,
    `estimatedPartsCost` DECIMAL(12, 2) NULL,
    `estimatedLabourCost` DECIMAL(12, 2) NULL,
    `estimatedTotalCost` DECIMAL(12, 2) NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'SCHEDULED',
    `approvalStatus` VARCHAR(191) NOT NULL DEFAULT 'PENDING',
    `createdBy` VARCHAR(150) NOT NULL,
    `notes` VARCHAR(5000) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `maintenance_schedule_scheduleNumber_key`(`scheduleNumber`),
    INDEX `maintenance_schedule_vehicleId_idx`(`vehicleId`),
    INDEX `maintenance_schedule_assignedDriverId_idx`(`assignedDriverId`),
    INDEX `maintenance_schedule_scheduledDate_idx`(`scheduledDate`),
    INDEX `maintenance_schedule_status_idx`(`status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `work_order` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `workOrderNumber` VARCHAR(50) NOT NULL,
    `dateCreated` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `requestedBy` VARCHAR(150) NOT NULL,
    `department` VARCHAR(100) NOT NULL,
    `vehicleId` INTEGER NOT NULL,
    `currentMileage` DOUBLE NULL,
    `maintenanceType` VARCHAR(100) NOT NULL,
    `workDescription` VARCHAR(5000) NOT NULL,
    `faultDescription` VARCHAR(5000) NULL,
    `requestedRepairs` VARCHAR(5000) NULL,
    `priority` VARCHAR(191) NOT NULL DEFAULT 'MEDIUM',
    `estimatedCompletionDate` DATETIME(3) NULL,
    `assignedTechnician` VARCHAR(150) NULL,
    `assignedWorkshop` VARCHAR(150) NULL,
    `supervisor` VARCHAR(150) NULL,
    `requiredSpareParts` VARCHAR(5000) NULL,
    `requiredTools` VARCHAR(5000) NULL,
    `estimatedLabourHours` DOUBLE NULL,
    `estimatedPartsCost` DECIMAL(12, 2) NULL,
    `estimatedLabourCost` DECIMAL(12, 2) NULL,
    `estimatedTotalCost` DECIMAL(12, 2) NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'PENDING_APPROVAL',
    `actualCompletionDate` DATETIME(3) NULL,
    `technicianNotes` VARCHAR(5000) NULL,
    `finalCost` DECIMAL(12, 2) NULL,
    `managerApproval` BOOLEAN NOT NULL DEFAULT false,
    `managerConfirmation` BOOLEAN NOT NULL DEFAULT false,
    `incidentId` INTEGER NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `work_order_workOrderNumber_key`(`workOrderNumber`),
    INDEX `work_order_vehicleId_idx`(`vehicleId`),
    INDEX `work_order_status_idx`(`status`),
    INDEX `work_order_dateCreated_idx`(`dateCreated`),
    INDEX `work_order_incidentId_idx`(`incidentId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `repair` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `repairReference` VARCHAR(50) NOT NULL,
    `vehicleId` INTEGER NOT NULL,
    `faultReported` VARCHAR(5000) NOT NULL,
    `dateReported` DATETIME(3) NOT NULL,
    `reportedBy` VARCHAR(150) NOT NULL,
    `faultCategory` VARCHAR(100) NOT NULL,
    `severityLevel` VARCHAR(191) NOT NULL DEFAULT 'MEDIUM',
    `initialDiagnosis` VARCHAR(5000) NULL,
    `repairDate` DATETIME(3) NULL,
    `repairStartTime` DATETIME(3) NULL,
    `repairEndTime` DATETIME(3) NULL,
    `assignedTechnician` VARCHAR(150) NULL,
    `workshop` VARCHAR(150) NULL,
    `repairDescription` VARCHAR(5000) NULL,
    `rootCause` VARCHAR(5000) NULL,
    `correctiveActionTaken` VARCHAR(5000) NULL,
    `partsReplaced` VARCHAR(5000) NULL,
    `partNumbers` VARCHAR(5000) NULL,
    `quantityUsed` INTEGER NULL,
    `supplier` VARCHAR(150) NULL,
    `unitCost` DECIMAL(12, 2) NULL,
    `totalPartsCost` DECIMAL(12, 2) NULL,
    `labourHours` DOUBLE NULL,
    `hourlyRate` DECIMAL(12, 2) NULL,
    `labourCost` DECIMAL(12, 2) NULL,
    `additionalCosts` DECIMAL(12, 2) NULL,
    `totalRepairCost` DECIMAL(12, 2) NULL,
    `vehicleTestConducted` BOOLEAN NOT NULL DEFAULT false,
    `roadworthyStatus` VARCHAR(191) NOT NULL DEFAULT 'PENDING',
    `qualityInspectionResult` VARCHAR(5000) NULL,
    `technicianComments` VARCHAR(5000) NULL,
    `completionDate` DATETIME(3) NULL,
    `repairStatus` VARCHAR(191) NOT NULL DEFAULT 'IN_PROGRESS',
    `supportingDocuments` VARCHAR(5000) NULL,
    `beforePhotoUrl` VARCHAR(1000) NULL,
    `afterPhotoUrl` VARCHAR(1000) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `repair_repairReference_key`(`repairReference`),
    INDEX `repair_vehicleId_idx`(`vehicleId`),
    INDEX `repair_repairStatus_idx`(`repairStatus`),
    INDEX `repair_dateReported_idx`(`dateReported`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `compliance` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `vehicleId` INTEGER NULL,
    `driverId` INTEGER NULL,
    `itemType` VARCHAR(100) NOT NULL,
    `itemName` VARCHAR(200) NOT NULL,
    `issueDate` DATETIME(3) NULL,
    `expiryDate` DATETIME(3) NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'COMPLIANT',
    `referenceNumber` VARCHAR(150) NULL,
    `notes` VARCHAR(5000) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `compliance_vehicleId_idx`(`vehicleId`),
    INDEX `compliance_driverId_idx`(`driverId`),
    INDEX `compliance_expiryDate_idx`(`expiryDate`),
    INDEX `compliance_status_idx`(`status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `approval_record` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `entityType` VARCHAR(50) NOT NULL,
    `entityId` INTEGER NOT NULL,
    `action` VARCHAR(50) NOT NULL,
    `approvedByUserId` INTEGER NULL,
    `approvedByName` VARCHAR(150) NULL,
    `approvedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `notes` VARCHAR(2000) NULL,

    INDEX `approval_record_entityType_entityId_idx`(`entityType`, `entityId`),
    INDEX `approval_record_approvedAt_idx`(`approvedAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `asset` ADD CONSTRAINT `asset_assignedVehicleId_fkey` FOREIGN KEY (`assignedVehicleId`) REFERENCES `vehicle`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `maintenance` ADD CONSTRAINT `maintenance_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `trip` ADD CONSTRAINT `trip_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `trip` ADD CONSTRAINT `trip_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `tripDriver` ADD CONSTRAINT `tripDriver_tripId_fkey` FOREIGN KEY (`tripId`) REFERENCES `trip`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `tripDriver` ADD CONSTRAINT `tripDriver_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `tripEvent` ADD CONSTRAINT `tripEvent_tripId_fkey` FOREIGN KEY (`tripId`) REFERENCES `trip`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `tripEvent` ADD CONSTRAINT `tripEvent_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `assignment` ADD CONSTRAINT `assignment_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `assignment` ADD CONSTRAINT `assignment_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `shift` ADD CONSTRAINT `shift_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `shift` ADD CONSTRAINT `shift_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `document` ADD CONSTRAINT `document_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `inspection` ADD CONSTRAINT `inspection_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `inspection` ADD CONSTRAINT `inspection_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `user` ADD CONSTRAINT `user_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `fuelrecord` ADD CONSTRAINT `fuelRecord_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `incident` ADD CONSTRAINT `incident_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `incident` ADD CONSTRAINT `incident_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `maintenance_schedule` ADD CONSTRAINT `maintenance_schedule_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `maintenance_schedule` ADD CONSTRAINT `maintenance_schedule_assignedDriverId_fkey` FOREIGN KEY (`assignedDriverId`) REFERENCES `driver`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `work_order` ADD CONSTRAINT `work_order_incidentId_fkey` FOREIGN KEY (`incidentId`) REFERENCES `incident`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `work_order` ADD CONSTRAINT `work_order_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `repair` ADD CONSTRAINT `repair_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `compliance` ADD CONSTRAINT `compliance_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicle`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `compliance` ADD CONSTRAINT `compliance_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `driver`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

